<base-header title="ProductDetailPage"></base-header>

<ion-content padding class="under-nav-margin">
  <form (ngSubmit)="edit()" #updateForm="ngForm">
  <ion-list>
    <ion-item>
      <ion-avatar item-start>
          <div *ngIf="item?.image; else defaultImage">
              <img src="{{item?.image}}">
          </div>
          <ng-template #defaultImage>
              <img src="../../assets/imgs/default.png">
          </ng-template>
      </ion-avatar>
    </ion-item>
    <ion-item>
      <ion-label>Product</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="item.name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Hoeveelheid</ion-label>
      <ion-icon *ngIf="item" name="add-circle" item-end (click)="increment()"></ion-icon>
      <ion-note bold item-end>
          {{item?.quantity}}
      </ion-note>
      <ion-icon *ngIf="item" name="remove-circle" item-end (click)="decrement()"></ion-icon>
    </ion-item>
    <ion-list>
        <ion-item full>
          <ion-label>Categorie</ion-label>
          <ion-select name="category" [(ngModel)]="item.category" required>
            <ion-option value="groente">Groente</ion-option>
            <ion-option value="fruit">Fruit</ion-option>
            <ion-option value="zuivel">Zuivel</ion-option>
            <ion-option value="chips">Chips</ion-option>
            <ion-option value="koeken">Koeken</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    <ion-item>
      
        <button  ion-button class="submit-btn" full type="submit" [disabled]="!updateForm.form.valid">
            Edit
        </button>
    </ion-item>
  </ion-list>
</form>
</ion-content>
